<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Your Miles</h4>
      <p>Okay, we're sorry but this bit is still in development. This shows you how you've done! We've just got to make it look pretty :-)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 all">
      <h6>Total</h6>
      <span>{{ totalAll }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 cycle">
      <h6>Cycle</h6>
      <span>{{ totalCycle }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 run">
      <h6>Run</h6>
      <span>{{ totalRun }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 swim">
      <h6>Swim</h6>
      <span>{{ totalSwim }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 walk">
      <h6>Walk</h6>
      <span>{{ totalWalk }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 static-cycle">
      <h6>Static Cycle</h6>
      <span>{{ totalStaticCycle }}</span>
    </div>
  </div>
</div>
