<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Your Miles</h4>
      <p *ngIf="totalAll > 0">Well done. Many thanks for all the miles you've donated.</p>
      <p *ngIf="totalAll === 0">Okay, you need to get started. Visit the home page to submit your miles.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 bubble all" *ngIf="totalAll > 0">
      <h4>Total</h4>
      <h4>{{ totalAll }} miles</h4>
      <!-- <img class="activity-image" src="../../../assets/all.svg"> -->
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble cycle" *ngIf="totalCycle > 0">
      <h4>Cycle</h4>
      <h4>{{ totalCycle }} miles</h4>
      <img class="activity-image" src="../../../assets/cycle.svg">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble run" *ngIf="totalRun > 0">
      <h4>Run</h4>
      <h4>{{ totalRun }} miles</h4>
      <img class="activity-image" src="../../../assets/run.svg">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble swim" *ngIf="totalSwim > 0">
      <h4>Swim</h4>
      <h4>{{ totalSwim }} miles</h4>
      <img class="activity-image" src="../../../assets/swim.svg">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble walk" *ngIf="totalWalk > 0">
      <h4>Walk</h4>
      <h4>{{ totalWalk }} miles</h4>
      <img class="activity-image" src="../../../assets/walk.svg">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble row" *ngIf="totalRow > 0">
      <h4>Row</h4>
      <h4>{{ totalRow }} miles</h4>
      <img class="activity-image" src="../../../assets/row1.svg">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 bubble static-cycle" *ngIf="totalStaticCycle > 0">
      <h4>Static Cycle</h4>
      <h4>{{ totalStaticCycle }} miles</h4>
      <img class="activity-image" src="../../../assets/static-cycle.svg">
    </div>
  </div>
</div>
