<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Tell us! Support us! Help us!</h4>
      <p>We really appreciate you supporting the Basil Skyers Myeloma Foundation's challenge to collect A Million Miles for Multiple Myeloma, but in addition to your donation of the miles you cover, we would love to hear from you.</p>
      <p>Please tell us what you think of the challenge, the foundation and let us know if you like to do more.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="comments" class="form-label">Feedback</label>
          <input type="textarea" name="comments" [(ngModel)]="comments" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-success" (click)="submitFeedback()">Submit Feedback</button>
        </div>
      </form>
    </div>
  </div>
</div>
