<footer class="footer">
  <div class="container">
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-sm-4"><a href="http://www.basilskyersfoundation.org/"><img src="../../../assets/myeloma-25.png" class="center img-responsive" alt="The Basil Skyers Myeloma Foundation - supporting people with Multiple Myeloma"></a></div>
      <div class="col-sm-4"><a href="https://livawol.org.uk/"><img src="../../../assets/liv-awol-thin-trans-50.png" class="center img-responsive" alt="Liv AWOL - junior and u23 women's race team"></a></div>
      <div class="col-sm-4"><a href="https://www.cyclesuk.com/en/gb/Home.aspx"><img src="../../../assets/cyclesuk-100.png" class="center img-responsive" alt="Cycles UK - the right bike for you"></a></div>
    </div>
  </div>
</footer>
