<footer class="footer">
  <div class="container">
    <div class="row">
      <br>
      <h4 class="text-center">A Million Miles for Multiple Myeloma is supported by</h4>
    </div>
    <div class="row">
      <div class="col-sm-4"><a href="http://www.basilskyersfoundation.org/"><img src="../../../assets/basilskyersmyeloma.png" class="center img-responsive basilskyers" alt="The Basil Skyers Myeloma Foundation - supporting people with Multiple Myeloma"></a></div>
      <div class="col-sm-4"><a href="https://livawol.org.uk/"><img src="../../../assets/liv-awol.png" class="center img-responsive livawol" alt="Liv AWOL - junior and u23 women's race team"></a></div>
      <div class="col-sm-4"><a href="https://www.cyclesuk.com/en/gb/Home.aspx"><img src="../../../assets/cyclesuk.png" class="center img-responsive cyclesuk" alt="Cycles UK - the right bike for you"></a></div>
    </div>
  </div>
  <div class="row">
    <p class="text-center">The website/application was designed, developed and donated by <a href="mailto:pgmoir@gmail.com">Moir Consultancy Limited (c) 2017</a></p>
  </div>
</footer>
