button {
  border: 0;
  border-radius: 0;
  line-height: 1;
  padding: 1.2em;
  width: 80%;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lock {
  width:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.facebook {
  background:#3B5998 url('../../../assets/facebook.svg') no-repeat 16px 0px;
  background-size: 47px;
  color:#fff;
}

.google {
  border: 1px solid #95989A;
  background: #fff  url('../../../assets/google.svg') no-repeat 25px;
  background-size: 25px;
}

.email {
  background: #ECECEC  url('../../../assets/email.svg') no-repeat 25px;
  background-size: 25px;
}

a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}

.alc {
  text-align: center;
  margin: 15px 0;
}

.alc, .error {
  display: block;
}
