<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h3>A Million Miles for Multiple Myeloma</h3>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <a target="_blank" href="https://www.facebook.com/basilskyersfoundation" class="social-media">
          <button class="facebook"></button>
        </a>
        <a target="_blank" href="https://twitter.com/sophiaskyers?lang=en" class="social-media">
          <button class="twitter"></button>
        </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

