<div class="example3">
  <nav class="navbar-inverse navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" style="cursor: pointer;" routerLink="/">The Basil Skyers Myeloma Foundation</a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a style="cursor: pointer;" (click)="login()" *ngIf="!authService.authenticated">Login</a></li>
          <li><a style="cursor: pointer;" (click)="logout()" *ngIf="authService.authenticated">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>A Million Miles for Multiple Myeloma</h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

