button {
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 10px 5px 5px 5px;
  display: block;
  align-content: right;
}

.facebook {
  background:#3B5998 url('../assets/facebook.svg') no-repeat 0px -5px;
  background-size: 40px;
  color:#fff;
}

.twitter {
  background:#55acee url('../assets/twitter.svg') no-repeat 0px 0px;
  background-size: 40px;
  color:#fff;
}
