/* You can add global styles to this file, and also import other style files */
.activity-all {
  background-color: #042840;
}
.activity-swim {
  background-color: #0076c6;
}
.activity-cycle {
  background-color: #78a700;
}
.activity-walk {
  background-color: #c6005c;
}
.activity-run {
  background-color: #dd7800;
}
.activity-row {
  background-color: #73491A;
}
.activity-golf {
  background-color: #275A05;
}
.activity-static-cycle {
  background-color: #036652;
}
.inverse {
  background-color: #3c3d41;
  color: #ffffff;
}

.bs-callout {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-info h4 {
  color: #1b809e;
}

.navbar-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 60px);
}

@media (min-width: 768px) {
  .navbar-header {
      min-width: 400px;
  }
}

.nav li a {
  padding: 10px;
}

