<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-callout bs-callout-info">
        <h4>We're now at {{ totalMiles }} miles. Thank you!</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Who's submitting miles</h3>
      <div class="bs-example" id="miles">
        <div *ngFor="let mile of miles | async">
          <div class="bubble {{ mile.activity }}" [class.you]="isYou(mile.email)" [class.me]="isMe(mile.email)">
            <img class="activity-image" src="../../../assets/{{ mile.activity }}.svg">
            <p>A {{ mile.activity.replace('-', ' ') }} of {{ mile.distance }} {{ mile.measurement }} submitted </p>
            <div class="reason" *ngIf="mile.reason != null">{{ mile.reason }}</div>
            <div class="author">
              by {{ mile.displayName }} on {{ mile.timestamp | date:"EEEE dd MMM yyyy" }} at {{ mile.timestamp | date:"h:mm a" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!authService.authenticated">
    <div class="col-md-12">
      <h3>Login to submit your miles</h3>
      <p>The Basil Skyers Myeloma Foundation wants you to help promote awareness about multiple myeloma, the second most common
        yet little known blood cancer disease. The Foundation is partnering with Liv AWOL Junior/Under 23 Women’s Race Cycling
        Team, and Cycles UK. In support of us, we would like you to donate your miles covered while being active!
        That is all we need you to do!</p>
      <h3>What is multiple myeloma?</h3>
      <p>Multiple myeloma, often called ‘myeloma’ is an incurable cancer of the blood plasma. There are 4,800 new cases diagnosed
        in the UK each year and the first family, friends or colleagues hear the words myeloma, is often, at the point of
        diagnosis. Multiple myeloma attacks the blood plasma cells. The blood plasma cells normally produce antibodies that
        help to fight infection but in the case of myeloma, they start to proliferate and produce rogue proteins that have
        no use or function. The proliferation of the cancerous cells in the blood plasma displaces healthy red and white
        cells from the bone marrow causing anaemia and fatigue, frequent infections, and unexplained bruising and bleeding.
        These symptoms are also often accompanied by bone pain particularly in the lower back and the ribs, and sometimes
        the long bones.</p>
      <p>Myeloma can affect anyone, both men and women. However, the incidence of myeloma is higher in older people, and in
        particular older men. For some reason also, black African and black Caribbean people have a higher risk than the
        population generally and they are diagnosed at a younger age. While myeloma is incurable, there are many treatments
        that can halt the progress of the disease for ten years or more, and new treatments are continually being developed.</p>
      <p>Please help us to raise awareness by donating the miles (or kms) covered while cycling, running, walking, swimming,
        rowing, riding a static cycle and even those covered while playing golf!</p>
    </div>
  </div>

  <div class="row" *ngIf="authService.authenticated">

    <div class="col-md-12">
      <h3>Submit your miles</h3>
    </div>

    <div class="col-md-12" *ngIf="state > 0">
      <div class="alert alert-info" role="alert" *ngIf="state === 1"> <strong>Okay!</strong> Tell us how far you've gone today. </div>
      <div class="alert alert-success" role="alert" *ngIf="state === 2"> <strong>Well done!</strong> Thank you so much for submitting your miles to The Basil Skyers Myeloma Foundation's "A
        Million Miles for Multiple Myeloma". Together we have achieved {{ totalMiles }} miles! We hope you enjoyed your {{ submit.activity }}.</div>
      <div class="alert alert-info" role="alert" *ngIf="state === 2">
        <strong>Hey!</strong> How about sharing your activity and promoting this challenge with your friends and family? Click on these links to 
        <a class="fb-xfbml-parse-ignore alert-link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmillionmilesformyeloma.firebaseapp.com/my-miles?id={{ submit.id }}%26name={{ submit.name }}%26activity={{ submit.activity }}%26distance={{ submit.distance }}%26reason={{ submit.reason }}">Share on Facebook</a> or
        <a class="alert-link" target="_blank" href="http://twitter.com/share?text=@SophiaSkyers I gave my miles&url=https%3A%2F%2Fmillionmilesformyeloma.firebaseapp.com/my-miles?activity={{ submit.activity }}%26distance={{ submit.distance }}&hashtags=MillionMilesMyeloma">Tweet on Twitter</a>
      </div>
      <div class="alert alert-info" role="alert" *ngIf="state === 2">
        <strong>Or share with Basil Skyers!</strong> Follow, share, message or tweet to Basil Skyers Myeloma Foundation at the 
        <a class="alert-link" target="_blank" href="https://www.facebook.com/basilskyersfoundation">Basil Skyers Foundation Facebook</a> page or tweet to 
        <a class="alert-link" target="_blank" href="https://twitter.com/sophiaskyers?lang=en">Basil Skyers @SophiaSkyers on Twitter</a>.
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="state === 3 || state === 4"> <strong>Wow!</strong> That seems to be an awfully long way you've gone today. Are you sure you have the correct distance?
        If it is, then fantastic, just enter a reason for the activity and click the verify button to submit your epic {{ activity }}.</div>
      <div class="alert alert-warning" role="alert" *ngIf="state === 5"> <strong>Sorry!</strong> We cannot accept the distance entered at this time. If this distance was covered over a number
        of days, please enter as split entries or submit your miles through our feedback option on the menu.</div>
      <button class="btn btn-success" *ngIf="verifyActivity" (click)="verify()" [disabled]="!reason">Verify Activity</button>
      <button class="btn btn-danger" *ngIf="verifyActivity" (click)="cancel()">Cancel Activity</button>
    </div>

    <div class="col-md-12">
      <form (ngSubmit)="submitMiles()" #f="ngForm">
        <div class="form-group">
          <label for="measurement" class="form-label">Measurement</label>
          <select name="measurement" [(ngModel)]="measurement" class="form-control" required>
              <option value="miles">miles</option>
              <option value="kms">kilometres</option>
            </select>
        </div>
        <div class="form-group">
          <label for="activity" class="form-label">Activity</label>
          <select name="activity" [(ngModel)]="activity" class="form-control" required>
                <option value="cycle">cycle</option>
                <option value="run">run</option>
                <option value="swim">swim</option>
                <option value="walk">walk</option>
                <option value="row">row</option>
                <option value="golf">golf</option>
                <option value="static-cycle">static cycle</option>
              </select>
        </div>
        <div class="form-group">
          <label for="distance" class="form-label">Distance</label>
          <input type="number" name="distance" [(ngModel)]="distance" class="form-control" required pattern="[0-9]*" minlength="1"
            maxlength="3">
        </div>
        <div class="form-group">
          <label for="reason" class="form-label">Reason / Comments</label>
          <input type="textarea" name="reason" [(ngModel)]="reason" class="form-control">
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit Miles</button>
        </div>
      </form>
    </div>

  </div>
</div>
